%header
	.container
		.row
			%h1.logo.text-hide
				sandbox
			%h2.text-center
				sandbox
			%h4.text-center
				Juegos y aplicaciones digitales con propósito.
			.down
				%i.fa.fa-angle-double-down
	.bg