%section#promise
	.container
		.row
			#quotes.carousel.slide.carousel-fade{"data-ride" => "carousel"}
				%ol.carousel-indicators
					%li.active{"data-slide-to" => "0", "data-target" => "#quotes"}
					%li{"data-slide-to" => "1", "data-target" => "#quotes"}
					%li{"data-slide-to" => "2", "data-target" => "#quotes"}
					%li{"data-slide-to" => "3", "data-target" => "#quotes"}
					%li{"data-slide-to" => "4", "data-target" => "#quotes"}
					%li{"data-slide-to" => "5", "data-target" => "#quotes"}
				.carousel-inner
					.active.item
						.carousel-caption
							%h3 "Content is the atomic particle of all digital marketing."
							%p - Rebecca Lieb

					.item
						.carousel-caption
							%h3 "The key ingredient to a better content experience is relevance."
							%p - Jason Miller
					.item
						.carousel-caption
							%h3 "Word-of-mouth marketing has always been important. Today, it’s more important than ever because of the power of the Internet." 
							%p - Joe Pulizzi & Newt Barrett
					.item
						.carousel-caption
							%h3 "If your stories are all about your products and services, that’s not storytelling. It’s a brochure. Give yourself permission to make the story bigger."
							%p - Jay Baer
					.item
						.carousel-caption
							%h3 "Business has only two functions; marketing and innovation."
							%p - Milan Kundera
					.item
						.carousel-caption
							%h3 "Marketing is no longer about the stuff that you make, but about the stories you tell."
							%p - Seth Godin
