%section#why
	.container
		.row.text-center
			%h2
				Brand Engagement
			%hr
			%p
				Nuestro foco es la usabilidad.

		.row
			.col-sm-3.text-center
				.icon
					%i.fa.fa-briefcase
				%h4
					Estudio de Brief
				%p
					Analizamos el Brief de la campaña para ofrecer soluciones ad-hoc.
			.col-sm-3.text-center
				.icon
					%i.fa.fa-puzzle-piece
				%h4
					Propuesta
				%p
					Le agregamos valor a la propuesta considerando espacio, timing y tecnologías disponibles.
			.col-sm-3.text-center
				.icon
					%i.fa.fa-rocket
				%h4
					Desarrollo de app
				%p
					Nos encargamos de diseñar la interfaz del juego o aplicación para luego programarlo.
			.col-sm-3.text-center
				.icon
					%i.fa.fa-gamepad
				%h4
					Testing
				%p
					Testeamos el resultado para mejorar funcionalidad.